@media (max-width: 1200px) { 
    .cover-title{
         font-size: 28px !important;
    }
    .cover-content p{
        font-size: 14px !important;
    }

}
@media (max-width: 1024px) { 
    .cover-title{
         font-size: 24px !important;
         letter-spacing: 1px !important;
    }
    .cover-content p{
      letter-spacing: 1px !important;
    }

}
@media (max-width: 991.5px) { 
    .cover-content {
        padding: 40px 40px !important;
    }

}

@media (max-width: 812px){
    .cover-content {
        padding: 40px 40px;
    }
    .social {
        padding-left: 0;
        position: absolute;
        left: 0%;
        top: -3% !important;
        transform: translate(0%, 0%) !important;
        z-index: 999999;
        bottom: 0;
        overflow: hidden;
        height: auto;
        min-height: auto;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .social li {
        display: inline-block;
    }
}

@media (max-width: 574.5px) { 
    .skills .skill-ico {
        margin: 0px 0px !important;
    }

}


